.container {
    display: flex;
}

.master {
    flex: 2;
    height: 100%;
    overflow: auto;
}
.details {
    flex: 8;
    margin-left: 25px;
}

.masterItems {
    margin: 10px;
    padding: 15px;
    border-left: cornflowerblue dashed 3px; 
    cursor: pointer;
}
.masterItems:hover {
    border-left: cornflowerblue solid 6px;
}
.masterItems.selected {
    border-left: cornflowerblue solid 6px;
}