<div class="container">
    <div class="master">
        <div *ngFor="let i of Items" (click)="OnSelect(i)" class="masterItems">
            <div>
                <h3>
                    {{i.object}}<br>
                    {{i.sender}}
                </h3>
            </div>
            <div>{{i.receivedOn | date:'dd/MM/yyyy'}} - {{i.attachmentsCount}} pièce(s) jointe(s)</div>
        </div>
    </div>
    <div class="details">
        <app-details [item]="Mail"></app-details>
    </div>
</div>

